.security {
    align-self: start;
    flex-grow: 1;
    padding: 2em;
    padding-left: 0;
}

.security > form > div {
    display: grid;
    gap: 0.3em;
    max-width: 30em;
    padding: 0.5em 0;
}

.security > form > div > input {
    padding: 0.5em;
    border: 1px solid var(--text-gray);
}

.security input[type='submit'] {
    padding: 0.6em 2em;
    margin-top: 0.4em;
    border-radius: 0.5em;
    border: none;
    color: var(--white);
    background-color: var(--secondary);
    transition: 0.4s ease;
}

.security input[type='submit']:hover {
    background-color: var(--primary);
    color: var(--text-gray);
}

@media screen and (max-width: 600px) {
    .security {
        display: block;
        width: 100%;
    }
}