#adminSignUp {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
}

#adminSignUp h2 {
  text-align: center;
  margin-bottom: 15px;
}

#adminSignUp form {
  width: 40%;
  display: grid;
  grid-template-columns: .6fr 1fr;
  margin: auto;
}

#adminSignUp form * {
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid grey;
}

#adminSignUp form input {
  grid-column: 1/span 2;
  border-radius: 10px;
}

#adminSignUp form input[type='submit'] {
  grid-column: 1/span 1;
  background-color: #20b970;
  border: none;
  transition: .2s ease-out;
}

#adminSignUp form input[type='submit']:hover {
  color: #fff;
  font-size: 17px;
  border: 1px solid grey;
}

#adminSignUp p {
  margin-left: 30%;
}

#adminSignUp p a {
  text-decoration: none;
  color: #070;
}
