.landing {
  position: relative;
}

#main {
  height: 100vh;
  background-image: url('../../public/landing/beach-0.jpg');
  background-position: center;
  background-size: 100%;
}

#main * {
  text-align: start;
  transform: translateY(40vh);
  margin-left: 10%;
}

#main p {
  width: 40%;
}

#main h1 {
  font-size: 40px;
}

#main p {
  font-size: 18px;
  margin: 10px 0 0 10%;
  width: 40%;
}

.more {
  margin-right: 60%;
  padding: 8px;
  font-size: 12px;
  border-radius: 12px;
}

#sub-bar {
  position: absolute;
  display: flex;
  background-color: #fff;
  z-index: 1;
  width: 80%;
  margin-left: 10%;
  margin-top: -50px;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
}

#facilities {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 0.6fr 0.8fr;
  grid-template-areas: 
  "fac space see"
  "perks perks perks";
}

#facilities p {
  grid-area: see;
}

#facilities div {
  grid-area: perks;
  display: flex;
  justify-content: space-between;
}

#stream,
#wifi,
#eat,
#bedroom {
  display: flex;
  flex-direction: column;
  padding: 6px;
}

#journey h2 {
  font-size: 16px;
  text-align: start;
  margin-bottom: 14px;
}

#popular {
  padding-top: 60px;
}

#popular * {
  margin-bottom: 7px;
}

.popularStat {
  display: flex;
  justify-content: space-evenly;
}

.popularStat * {
  margin-bottom: 5px;
}

.popularStat div h3 {
  font-size: 20px;
}

.popularStat div div {
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: auto;
  background-color: #c8e6c9;
}

.popularImage i {
  padding-top: 12px;
}

#aboutUs h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

#aboutUs p {
  width: 70%;
  font-size: 18px;
  margin: auto;
}

.partners {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 20px;
  height: 230px;
  margin-left: 90px;
  padding-bottom: 20px;
}

.partners img {
  width: 45%;
}

.partners img:nth-child(3) {
  width: 30%;
}

.partners img:nth-child(2),
.partners img:nth-child(5) {
  width: 55%;
}
