#register {
  display: grid;
  grid-template-columns: 0.6fr 1.2fr;
}

#registerImage {
  background-image: url('../../public/landing/summerTravel.jpg');
  background-size: cover;
  background-position: 55%;
}

#registerForm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.formDiv p {
  margin: 10px 0;
}

.formDiv h3 {
  margin: 15px 0;
}

.basicKyc,
.addressAndMore {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 0 20px;
}

.basicKyc div,
.addressAndMore div {
  display: grid;
  gap: 10px;
  margin-bottom: 15px;
}

.basicKyc div select,
.addressAndMore div select {
  min-width: 0;
  padding: 10px;
}

.basicKyc div input,
.addressAndMore div input {
  padding: 10px;
  border: 1px solid #888;
  border-radius: 5px;
}

#user_signin {
  grid-column: 1/span 1;
}

#registerSubmit {
  width: 150px;
  border: none;
  background-color: #20b970;
  color: #fff;
  text-decoration: none;
  padding: 12px;
  text-align: center;
  cursor: pointer;
}
#rSignIn {
  cursor: pointer;
  color: #20b970;
  text-decoration: none;
}
