#createDestinations {
  display: grid;
  grid-template-columns: .4fr 1fr;
  padding: 10px;
}

#createDestinations > div:nth-child(1) button {
  display: block;
  max-width: 200px;
  padding: 15px;
  background-color: #c8e6c9;
  border: 1px solid grey;
  border-radius: 15px;
  margin-top: 30px;
  cursor: pointer;
  transition: .3s ease;
}

#createDestinations > div:nth-child(1) button:hover {
  background-color: #20b970;
  color: #fff;
  box-shadow: 4px 4px 4px 4px #bbb;
}

#adminDestinations {
  position: relative;
  height: 1000px;
}

#adminDestinations form {
  width: 60%;
  min-width: 250px;
  display: grid;
  margin-top: 30px;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 35px;
  border-radius: 30px;
  background-color: #ccc;
  margin-bottom: 30px;
  position: absolute;
  transition: 1s ease;
}

#adminDestinations form h2 {
  text-align: center;
  grid-column: 1/span 2;
  margin-bottom: 20px;
}

#adminDestinations div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

#adminDestinations div input,
#adminDestinations div select,
.destDescription textarea {
  padding: 15px;
  border: 1px solid grey;
  border-radius: 10px;
  min-width: 0;
}

.destDescription {
  grid-column: 1/span 2;
}

.destDescription textarea {
  height: 200px;
}

.cityName {
  grid-column: 1/span 1;
}

.capital {
  grid-area: 2/2/span 1/span 1;
}

#adminDestinations form > input {
  background-color: #20b970;
  padding: 15px;
  border: none;
  color: #fff;
  border-radius: 10px;
  transition: .3s ease;
  cursor: pointer;
  transition: .3s ease;
}

#adminDestinations form > input:hover {
  border: 1px solid grey;
  color: #fff;
  font-size: 17px;
}

.hideDestination {
  opacity: 0;
}

.showDestination {
  opacity: 1;
  z-index: 5;
}

#country_error {
  grid-column: 1/ -1;
  color: var(--red);
  font-size: 20px;
  text-align: center;
}

#country_message {
  color: var(--secondary);
}