#adminHeader {
  position: sticky;
  top: 0;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #c8e6c8;
  z-index: 10;
}

#adminHeader ul {
  list-style: none;
  display: flex;
  text-align: center;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
}

#adminHeader ul li a {
  text-decoration: none;
}

#adminHeader img {
  scale: 2;
}

#links_1 {
  gap: 20px;
}

#links_1 li a {
  font-size: 16px;
}

#links_1 li a,
#links_2 li a,
#admin_register {
  color: var(--black);
}

#links_2,
#links_3 {
  gap: 25px;
}

#admin_login {
  color: var(--white);
  background-color: var(--green);
  padding: 10px 20px;
  opacity: .8;
  border-radius: 10px;
}

#admin_logout {
  color: var(--white);
  background-color: var(--red);
  padding: 10px;
  opacity: .8;
  border-radius: 10px;
}

#admin_logout:hover,
#admin_login:hover {
  opacity: 1;
}