.city {
  display: grid;
  grid-template-columns: 1fr .6fr;
  padding: 10px;
}

.cityDetails {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
}

.cityImages {
  width: 80%;
  height: 350px;
  margin: auto;
  background-color: gray;
  overflow: hidden;
}

.cityImages > div {
  width: 300%;
  height: 100%;
  position: relative;
  animation: slide 20s infinite;
  left: 0;
}

.cityImage {
  width: 33.33%;
  float: left;
  inset: 0;
  object-fit: cover;
  height: 100%;
}

@keyframes slide {
  0% {
    left: 0;
  }
  30%{
    left: 0;
  }
  33%{
    left: -100%
  }
  62%{
    left: -100%;
  }
  66%{
    left: -200%
  }
  96%{
    left: -200%;
  }
  100%{
    left: 0;
  }
}

.cityBio {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

.cityBio * {
  margin: 10px 0;
}

.cityBio h1 {
  text-align: center;
  font-size: 30px;
}
.cityBio i {

  color: var(--secondary);
  font-size: 22px;
}

.cityReservation h2,
.cityReview h2 {
  text-align: center;
  padding: 10px;
}

.cityReservation form {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  gap: 15px;
  padding-bottom: 20px;
}
.cityReservation form label {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  min-width: 0;
}

.cityReservation form input {
  padding: 12px;
  min-width: 0;
}

.cityReservation form input[type='submit'] {
  width: 300px;
  margin: auto;
}

.cityReservation form input[type='submit'],
.cityReview form input[type='submit'] {
  background-color: var(--secondary);
  color: var(--white);
  grid-column: 1/span 2;
  font-size: 16px;
  border: none;
}

.cityReservation form input[type=submit]:active,
.cityReview form input[type=submit]:active {
  border: 1px solid var(--black);
}

.otherCities {
  margin: 10px;
  margin-bottom: 25px;
}

.majorCities {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
}

.mainCities {
  position: relative;
  display: grid;
  grid-template-columns: .4fr 1fr;
  grid-template-rows: repeat(3, 15px);
  gap: 10px;
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 12px;
  background-color: var(--primary);
}

.mainCities div {
  background-color: grey;
  grid-row: 1/span 3;
  border-radius: 10px;
  overflow: hidden;
}

.mainCities div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainCities i {
  position: absolute;
  top: 40%;
  right: 20px;
  font-size: 24px;
  color: var(--secondary);
}

.mainCities p,
.mainCities a {
  font-weight: 500;
  font-size: 14px;
}

.mainCities a {
  text-decoration: none;
  cursor: pointer;
  color: var(--black);
}

.otherCities h2 {
  margin: 20px 0;
}

.cityDetails > a {
  text-align: center;
  width: 200px;
  padding: 15px;
  background-color: var(--secondary);
  text-decoration: none;
  color: var(--white);
  opacity: .9;
}

.cityDetails > a:hover {
  opacity: 1;
}

.cityDetails a:active {
  border: 1px solid var(--black);
}

.aboutCity {
  background-color: var(--white);
  border-radius: 20px;
}

.cityMap {
  padding: 15px;
  height: 300px;
  margin: auto;
}

.cityMap .leaflet-container {
  width: 100%;
  height: 100%;
}

.cityReviews {
  height: 200px;
  width: 80%;
  margin: auto;
  background-color: var(--primary);
  padding: 20px;
  border-radius: 15%;
}

.cityReviews h2 {
  text-align: center;
}

.stars {
  width: 115px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: auto;
}

.stars i {
  font-size: 18px;
  color: var(--secondary);
}

.cityReview {
  margin-top: 20px;
}

.cityReview form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
}

.cityReview form input {
  padding: 15px;
  min-width: 0;
}

.cityReview form *:nth-child(3) {
  grid-column: 1/span 2;
}

.cityReview form textarea {
  grid-column: 1/span 2;
  padding: 15px;
  height: 150px;
}
.rev {
  background-color: var(--secondary);
  padding: 15px;
  border-radius: 20px;
  height: 120px;
  overflow-y: scroll;
}

.rev p {
  text-align: center;
  font-size: 14px;
}

.rev p:nth-child(1) {
  font-weight: 600;
}

.rev p:nth-child(2) {
  margin-bottom: 20px;
}

.rev p:nth-child(3) {
  font-weight: 600;
}

@media screen and (max-width: 401px) {
  .city {
    grid-template-columns: 1fr;
  }

  .cityImages {
    width: 90%;
    height: 250px;
  }

  .cityBio * {
    margin: 4px auto;
  }

  .cityBio h1 {
    font-size: 20px;
  }

  .cityReservation form {
    width: 95%;
  }
}

