#contactSection {
  display: grid;
  grid-template-columns: .7fr 1fr;
  padding: 15px;
}

.contactOptions h1 {
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}

.reach {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.options {
  padding: 10px;
  display: grid;
  grid-template-columns: .4fr 1.5fr;
  grid-template-rows: 1fr 1fr;
  box-shadow: 5px 10px 10px #c8e9c9;
}

.options i {
  grid-area: 1/1/span 2/span 1;
  font-size: 18px;
  margin-top: 40%;
}

.options h3 {
  text-align: start;
}

.options p {
  grid-area: 2/2/span 1/span 2;
  text-align: start;
  font-size: 10px;
}

.visitUs {
  grid-area: 1/1/span 1/span 2;
}

.sendMail {
  grid-area: 1/3/span 1/span 2;
}

.call {
  grid-area: 2/2/ span1/span 2;
}

.call p,
.sendMail p {
  font-size: 10px;
}

.reach div {
  height: 60px;
}

.leaflet-container {
  width: 75%;
  margin: auto;
  height: 250px;
}

.contactForm form {
  width: 70%;
  margin: auto;
  display: grid;
  padding: 40px;
  padding-top: 60px;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 0.3fr) 1fr 0.3fr;
}

.contactForm h5,
.contactForm h2 {
  text-align: center;
}

.contactForm form > input {
  padding-left: 15px;
  font-size: 15px;
  height: 40px;
  min-width: 0;
}

.contactForm form textarea {
  font-size: 15px;
  padding-top: 10px;
  padding-left: 20px;
}

#message {
  grid-area: 3/1/ span 1/span 2;
}

#submit {
  grid-area: 4/1/span 1/span 2;
  color: #fff;
  background-color: #20b970;
  border: none;
}
