#country {
  display: grid;
  grid-template-columns: 1fr .6fr;
  grid-template-rows: 400px  auto auto;
  width: 80%;
  margin: auto;
  gap: 20px;
  padding: 20px 0;
  position: relative;
}

.countryImages {
  grid-area: 1/1/span 1/span 2;
  width: 80%;
  height: 380px;
  border-radius: 30px;
  overflow: hidden;
  margin: auto;
  margin-bottom: 40px;
}

.countryDescription {
  grid-area: 2/1/span 1/span 1;
  padding: 30px 10px 10px 0;
}

.countryDescription h1 {
  font-size: 35px;
  margin-bottom: 20px;
}

.countryMap {
  grid-area: 2/2/span 1/span 1;
  margin-top: 30px;
  height: 340px;
}

.countryMap .leaflet-container {
  width: 100%;
  height: 100%;
}

#countryCities {
  grid-column: 1/span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#countryCities h2 {
  margin: 20px 0;
}

.countryCities {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  padding: 0px;
  margin-bottom: 50px;
  width: 100%;
}

.countryCity {
  background-color: gray;
  position: relative;
  height: 250px;
  border-radius: 20%;
  overflow: hidden;
}

.countryCity img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.countryCity div {
  position: absolute;
  width: 70%;
  background-color: rgba(255, 255, 255, .7);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr .2fr;
  padding: 5px;
  bottom: 10px;
  left: 12%;
  border-radius: 8px;
}

.countryCity div h4 {
  margin-bottom: 10px;
}

.countryCity div a {
  margin: 0;
  padding: 0;
}

.countryCity div a input {
  padding: 10px;
  opacity: .8;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  background-color: var(--secondary);
}

.countryCity div a input:hover {
  opacity: 1;
}

.countryCity div i {
  color: var(--secondary);
  font-size: 25px;
  text-align: end;
  cursor: pointer;
}

#countryInfo {
  background-color: rgba(200, 230, 200, .7);
  width: 70%;
  left: 14%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 15px;
  border-radius: 15px;
  top: 315px;
  box-shadow: 5px 10px 20px gray;
  z-index: 3;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info * {
  margin: 3px 0;
}

.info i {
  font-size: 25px;
  color: var(--secondary);
}

@media screen and (max-width: 401px) {
  #country {
    display: flex;
    width: 370px;
    flex-direction: column;
    flex-basis: 100%;
  }

  .countryImages {
    width: 90%;
    height: 270px;
    margin-bottom: auto;
  }

  .countryDescription h1 {
    font-size: 25px;
  }

  .countryMap {
    width: 80%;
    margin: auto;
  }

  #countryInfo {
    display: grid;grid-template-columns: repeat(2, 1fr);
    position: relative;
    justify-content: center;
    width: 80%;
    top: auto;
    left: auto;
    flex-wrap: wrap;
    gap: 15px;
    margin: auto;
  }

  .info {
    width: 48%;
  }
}
