#country {
  display: grid;
  grid-template-columns: 1fr .6fr;
  grid-template-rows: 400px  auto auto;
  width: 80%;
  margin: auto;
  gap: 20px;
  position: relative;
}

.countryImages {
  grid-area: 1/1/span 1/span 2;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}

.countryDescription {
  grid-area: 2/1/span 1/span 1;
  padding: 30px 10px 10px 0;
}

.countryDescription h1 {
  font-size: 35px;
  margin-bottom: 20px;
}

.countryMap {
  grid-area: 2/2/span 1/span 1;
  margin-top: 30px;
  height: 340px;
}

.countryMap .leaflet-container {
  width: 100%;
  height: 100%;
}

#countryCities {
  grid-column: 1/span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#countryCities h2 {
  margin: 20px 0;
}

.countryCities {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  padding: 0px;
  margin-bottom: 50px;
  width: 100%;
}

.countryCity {
  background-color: gray;
  position: relative;
  height: 250px;
  border-radius: 20%;
  overflow: hidden;
}

.countryCity img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.countryCity div {
  position: absolute;
  width: 70%;
  background-color: rgba(255, 255, 255, .7);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr .2fr;
  padding: 5px;
  bottom: 10px;
  left: 12%;
  border-radius: 8px;
}

.countryCity div h4 {
  margin-bottom: 10px;
}

.countryCity div a {
  margin: 0;
  padding: 0;
}

.countryCity div a input {
  padding: 10px;
  opacity: .8;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  background-color: #20b555;
}

.countryCity div a input:hover {
  opacity: 1;
}

.countryCity div i {
  color: #20b970;
  font-size: 25px;
  text-align: end;
  cursor: pointer;
}

#countryInfo {
  background-color: #c8e6c8;
  width: 70%;
  left: 14%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 15px;
  border-radius: 15px;
  top: 300px;
  box-shadow: 5px 10px 20px gray;
  z-index: 3;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info * {
  margin: 3px 0;
}

.info i {
  font-size: 25px;
  color: #20b870;
}
