.countries {
  width: 60%;
  margin: auto;
  background-color: green;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(13, 250px);
}

.countries div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  position: relative;
}

.country button {
  position: absolute;
  bottom: -50px;
  pointer-events: none;
  opacity: 0;
  padding: 12px;
  border-radius: 15px;
  border: none;
  transition: .6s ease-in;
}

.country button:hover {
  background-color: #20b970;
}

.moreCountry a:hover {
  color: #fff;
}

.country button:active {
  border: 1px solid #000;
}

.moreCountry a {
  text-decoration: none;
}

.country-2 {
  grid-area: 1/2/span 2/span 1;
  background-color: red;
}

.country-6 {
  grid-area: 4/1/span 2/span 1;
  background-color: brown;
}

.country-9 {
  grid-area: 6/1/span 1/span 2;
  background-color: purple;
}

.country-11 {
  grid-area: 7/2/span 2/span 1;
  background-color: yellow;
}

.country-13 {
  grid-area: 9/1/span 1/span 2;
  background-color: pink;
}

.country-16 {
  grid-area: 11/1/span 2/span 1;
  background-color: rosybrown;
}
