.countries {
  width: 60%;
  min-width: 200px;
  margin: 20px auto;
  background-color: green;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.countries div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  position: relative;
}

.country {
  position: relative;
}

.country .moreCountry {
  position: absolute;
  bottom: -50px;
  pointer-events: none;
  opacity: 0;
  padding: 12px;
  font-size: 13px;
  border-radius: 15px;
  text-decoration: none;
  border: none;
  transition: .6s ease-in;
}

.country:hover .moreCountry {
  position: relative;
  bottom: -10px;
  background-color: var(--white);
  color: var(--text-gray);
  opacity: 1;
  pointer-events: all;
}

.country:hover .moreCountry:hover {
  background-color: #20b970;
  color: #fff;
  text-decoration: none;
}

.country a:active {
  border: 1px solid #000;
}


.country-2 {
  grid-row: 1/span 2;
  background-color: red;
}

.country-6 {
  grid-row: 1/span 2;
  background-color: brown;
}

.country-9 {
  grid-column: 1/span 2;
  background-color: purple;
}

.country-11 {
  grid-row: 1/span 2;
  background-color: yellow;
}

.country-13 {
  grid-column: 1/span 2;
  background-color: pink;
}

.country-16 {
  grid-row: 1/span 2;
  background-color: rosybrown;
}

@media screen and (max-width: 401px) {
  .countries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    
  }

  .country {
    width: 150px;
    height: 270px;
  }

  .country h2 {
    font-size: 1em;
  }

  
}
