header {
  padding: 20px;
  color: var(--text-gray);
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
}

header > * {
  text-align: center;
}

header div {
  display: flex;
  gap: 10px;
}

#logo_img {
  width: 40px;
}

#logo_img img {
  width: 100%;
}

.brand {
  grid-area: name;
  padding-top: 6px;
  font-weight: 800;
}

.nav {
  list-style: none;
  padding-top: 10px;
  font-size: 16px;
}

.nav li {
  cursor: pointer;
}

.nav li a {
  text-decoration: none;
  color: var(--text-gray);
  font-weight: 600;
}

.nav,
.header_buttons {
  display: flex;
  gap: 30px;
}

.header_buttons > a{
  padding: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  color: var(--text-gray);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.login {
  background-color: var(--primary);
}

.register {
  background-color: var(--secondary);
  color: var(--white);
}

.logout {
  background-color: var(--red);
  color: var(--white)
}

@media screen and (max-width: 401px) {
  header {
    position: fixed;
    width: 100vw;
  }

  .nav {
    display: none;
    gap: 15px;
  }

  .button {
    display: none;
  }
}
