.loading {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.loading div {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    animation:  8s linear infinite rotate;
}

.loading div img {
    width: 100%;
}

.laoading p {
    font-size: 20px;
    font-weight: 600;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}