.menu {
  position: relative;
  padding: 20px;
  background-color: #c8e6c8;
  transition: 1s ease-in;
}

.menu.dark {}

.closeMenu {
  padding: 10px;
}

.menuToggle {
  position: absolute;
  top: 20px;
  right: 0;
  font-size: 25px;
  rotate: 180deg;
  transition: .4s ease;
  cursor: pointer;
  color: #20b970;
}

.closeMenu .menuToggle {
  cursor: pointer;
}

.close {
  rotate: 0deg;
}

.menuNav {
  margin-top: 35px;
}

.nav-links {
  display: flex;
  width: 90%;
  align-items: center;
  text-align: start;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  color: #444;
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  width: 100%;
  display: grid;
  color: #444;
  grid-template-columns: .2fr 1.4fr;
}

.nav-links:hover {
  background-color: #20b970;
}

.nav-links p {
  margin-left: 20px;
  align-items: start;
  color: #444;
}

.nav-links i,
.nav-links p {
  font-size: 20px;
  font-weight: 600;
}

.closeMenu .nav-links p {
  opacity: 0;
  transition: .1s ease;
  transition-delay: .4s;
}

.closeMenu .nav-links {
  width: 25px;
}

.closeMenu .theme {
  width: 1.8%;
  position: relative;
}

.closeMenu .theme * {
  position: absolute;
  transition: .2s ease;
}

.closeMenu .icon,
.closeMenu .mode {
  opacity: 0;
  transition: .2s ease;
}

.theme {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 0;
  width: 80%;
  margin: 30px 0;
}

.theme span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.theme span i {
  position: absolute;
  font-size: 20px;
  color: gray;
}

.lumen {
  opacity: 0;
}

.mode {
  font-size: 14px;
  font-weight: 600;
  color: #444;
}

#switch {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle {
  position: relative;
  width: 40px;
  height: 19px;
  background-color: #c8e6c8;
  border-radius: 7px;
  border: 1px solid gray;
  cursor: pointer;
}

.toggle::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  margin-top: 2px;
  border: none;
  border-radius: 50%;
  background-color: #20b970;
  transition: .4s ease;
}

.menu.dark .toggle::before {
  left: 25px;
}
