#profile {
  display: grid;
  grid-template-columns: .7fr .9fr 1fr;
  padding: 20px;
  gap: 20px;
}

.decor {
  grid-column: 1/span 3;
  background-image: linear-gradient(90deg, var(--primary), var(--secondary))
}

#profile .image {
  background-color: yellow;
}

#profile .image img {
  width: 100%;
  object-fit: cover;
}

.profile {
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px gray;
}

.profile:nth-child(3),
.profile:nth-child(4) {
  background-color: var(--primary);
  padding: 20px;
}

.profile:nth-child(3) p,
.profile:nth-child(4) p {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
}

.profile:nth-child(3) p span,
.profile:nth-child(4) p span{
  font-weight: normal;
}

.profile:last-child {
  grid-column: 1/span 3;
  display: flex;
  padding: 10px;
  text-align: center;
  justify-content: space-between;
}

.profile:last-child div {
 display: grid;
 grid-template-columns: 1fr;
 gap: 20px;
 margin: auto;
}

.profile:last-child div p:first-child {
  font-size: 20px;
  font-weight: 700;
}

.profile:last-child div p:nth-child(2),
.profile:last-child div p:nth-child(3) {
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 401px) {
  #profile {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .decor {
    grid-column: span 1;
    height: 45px;
  }

  .profile {
    grid-column: span 1;
    width: 80%;
    margin: auto;
  }

  .image {
    width: 300px;
  }

  .profile:nth-child(3) p,
  .profile:nth-child(4) p {
    font-size: 0.8rem;
  }
}