#profile {
  display: grid;
  grid-template-columns: .7fr .9fr 1fr;
  padding: 20px;
  gap: 20px;
}

.decor {
  grid-column: 1/span 3;
  background-image: linear-gradient(90deg, red, blue, green)
}

#profile .image {
  background-color: yellow;
}

#profile .image img {
  width: 100%;
  object-fit: cover;
}

.profile {
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px gray;
}

.profile:nth-child(3) {
  background-color: #c8e6c8;
  padding: 20px;
}

.profile:nth-child(3) p {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 10px;
}

.profile:nth-child(3) p span {
  font-weight: normal;
}

.profile:nth-child(4) {
  background-color: green;
}

.profile:last-child {
  background-color: #20b970;
  grid-column: 1/span 3;
  display: flex;
  padding: 10px;
  text-align: center;
  justify-content: space-between;
}

.profile:last-child div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.profile:last-child div p:first-child {
  font-size: 20px;
  font-weight: 700;
}

.profile:last-child div p:nth-child(2),
.profile:last-child div p:nth-child(3) {
  font-size: 16px;
  font-weight: 500;
}
