.reservations {
  padding: 10px;
}

.reservations h1 {
  font-size: 20px;
  text-align: center;
}

#no_reserves {
  margin-top: 150px;
}

#no_reserves > * {
  text-align: center;
  margin-bottom: 30px;
  color: var(--text-gray);
}

.reservations .reserves {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  padding: 20px;
  gap: 20px;
}

