.reservations {
  padding: 10px;
}

.reservations h1 {
  font-size: 20px;
  text-align: center;
}

.reservations .reserves {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  padding: 20px;
  gap: 20px;
}

