#settings {
  position: relative;
  display: grid;
  padding: 15px;
  grid-template-columns: .3fr 1fr;
}

.SettingsOptions {
  padding: 15px;
  margin: 25px 0;
  box-shadow: 5px 10px 10px gray;
  display: flex;
  cursor: pointer;
  transition: .4s ease-in;
}

.SettingsOptions p {
  margin-left: 10px;
}

.SettingsOptions:hover {
  background-color: #20b970;
  color: #fff;
  box-shadow: 5px 10px 10px #ccc;
}

.s-options {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s-options form {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
}

.s-options form * {
  margin: 15px 0;
  min-width: 0; 
}

.s-options form input,
.s-options form select {
  padding: 12px;
}

.s-options form input[type="submit"] {
  background-color: #20b970;
  color: #fff;
  border: none;
  cursor: pointer;
}

.s-options form input[type="submit"]:active {
  border: 1px solid #000;
}

.bioDiv form {
  width: 85%;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.bioDiv * {
  min-width: 0;
}

.bioDiv form *:nth-child(1) {
  grid-column: 1/span 2;
}

.bioDiv form *:nth-child(6) {
  grid-area: 4/1/span 1/span 2;
}

.bioDiv form *:nth-child(7) {
  grid-area: 5/1/span 1/span 2;
}

.bioDiv form *:nth-child(12) {
  grid-area: 8/1/span 1/span 1;
}

.bioDiv,
.security,
.s-theme {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transition: .4s ease;
}

.security form,
.s-theme form {
  width: 50%;
}

.settingShow {
  opacity: 1;
  pointer-events: auto;
  top: 0;
}
