#forgotPassword {
  display: grid;
  grid-template-columns: 1fr .6fr;
}

#forgotPasswordImage {
  background-color: #c8e6c8;
  display: flex;
  text-align: center;
  justify-content: center;
}

#forgotPasswordImage img {
  width: 60%;
  border-radius: 50%;
}

.forgotPasswordForm {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.forgotPasswordForm form {
  background-color: #c8e6c8;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.forgotPasswordForm form h1 {
  margin-bottom: 20px;
}

.forgotPasswordForm form * {
  display: block;
}

.forgotPasswordForm form input {
  padding: 15px;
  margin-bottom: 20px;
}

.forgotPasswordForm form input[type='email'] {
  width: 90%;
}

.forgotPasswordForm form input[type='submit'] {
  color: #fff;
  background-color: #20b970;
  border: none;
}

.forgotPasswordForm form input[type='submit']:active {
  border: 1px solid #000;
}
