@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700;800&display=swap');

* {
  font-family: Poppins, sans-serif;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page {
  display: grid;
  grid-template-columns: .3fr 1fr;
}
