@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700;800&display=swap');

* {
  font-family: Poppins, sans-serif;
}

:root {
  --primary: #e8f6e8;
  --secondary: #20b970;
  --tertiary: #808080;
  --white: #eee;
  --text-gray: #444;
  --darkgreen: #040;
}

.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page {
  display: grid;
  grid-template-columns: .3fr 1fr;
  transition: .4s ease;
}
